<form method="POST" >
	<h2>enter any caption below(do not leave empty)</h2>
    <input name="text">
    <h2>enter your options</h2>
    <nav>
     <ul>
      <h3>do u have pic</h3>
      <input  type="checkbox" name='pic_valid' value="pics">
<h3>do u have txt : </h3>
<input  type="checkbox" name='txt_valid' value="text">
<h3>do u have audio</h3>
<input  type="checkbox" name='audio_valid' value="audio">
<h3>do u have video</h3>
<input  type="checkbox" name='vid_valid' value="video">
  </ul> 
</nav>
    <h3>Finally :</h3>
    <input type="submit">￼
</form>


